@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.album-art {
	border-radius: 5%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.audio-player {
	padding-bottom: 50px;
}

.song-list {
	overflow-y: auto;
}

.App-header {
	background-color: #833c44;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.song-search {
	display: flex;
}

input[type='text'] {
	width: 45vh;
	padding: 20px 32px;
	margin: 4px 2px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

button {
	background-color: #fdadb7;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 2px 1px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
} */
